@import url("header.css");
@import url("home.css");
@import url("prestations.css");
@import url("footer.css");
@import url("services.css");
@import url("when.css");
@import url("contact.css");
@import url("about.css");

:root {
    /* couleurs */
    --background-color: rgba(203, 215, 192, 0.123);
    --background-overlay: #effcebd3;
    /* polices */
    /* --font-main: 'Source Sans 3', sans-serif; */
    /* --font-accent: 'Great Vibes', cursive; */
    /* --font-main: 'Manrope', sans-serif; */
    --font-accent: 'Allura', cursive;
    --font-main: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

body {
    font-family: var(--font-main);
}
