/* =========================
   TABLETTE
========================= */

@media (min-width: 768px) {

    /* .hero {
        flex-direction: row;
        align-items: center;
    } */

    /* .hero-image,
    .hero-content {
        flex: 1;
    } */

}

/* =========================
   DESKTOP
========================= */

@media (min-width: 1024px) {

    /* .hero-content h2 {
        font-size: 2.2rem;
    } */

}